@using Syncfusion.EJ2
<h3> Globalization: </h3>
<h5>In this sample, the DateTimePicker has been configured with German culture.</h5>
<br />
<div class="align">
        @Html.EJS().DateTimePicker("datetimepicker_locale").Min(ViewBag.minDate).Max(ViewBag.maxDate).RenderDayCell("disableDate").Width("300px").Render()
</div>
<script>
    function disableDate(args) {
        if (args.date.getDay() === 0 || args.date.getDay() === 6) {
            args.isDisabled = true;
        }
    }
    document.addEventListener('DOMContentLoaded', function () {
        DateTimepickerObject = document.getElementById('datetimepicker_locale').ej2_instances[0];
        var L10n = ej.base.L10n;

        L10n.load({
            'de': {
                'datetimepicker': {
                    placeholder: "Wählen Sie ein Datum und eine Uhrzeit aus",
                    today: "heute"
                }
            }
        });
        loadCultureFiles('de');
        DateTimepickerObject.locale = 'de';
    });

    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
        if (name === 'ar') {
            files.push('numberingSystems.json');
        }
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            if (name === 'ar' && prop === files.length - 1) {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '../../../Scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
            }
            else {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '../../../Scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            }
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }
</script>

<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>
