@using Syncfusion.EJ2
<h3> Globalization: </h3>
<h5>In this sample, the DateRangePicker has been configured with German culture.</h5>
<br />
<div class="align">
    @Html.EJS().DateRangePicker("daterangepicker_locale").Min(ViewBag.minDate).Max(ViewBag.maxDate).Width("300px").Render()
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        DateRangeObject = document.getElementById('daterangepicker_locale').ej2_instances[0];
        var L10n = ej.base.L10n;
        L10n.load({
            'de': {
                'daterangepicker': {
                    placeholder: 'Wählen Sie einen Bereich aus',
                    startLabel: 'Wählen Sie Startdatum',
                    endLabel: 'Wählen Sie Enddatum',
                    applyText: 'Sich bewerben',
                    cancelText: 'Stornieren',
                    selectedDays: 'Ausgewählte Tage',
                    days: 'Tage',
                    stomRange: 'benutzerdefinierten Bereich',
                    startDate: 'Anfangsdatum',
                    endDate: 'Enddatum'
                }
            }
        });
        loadCultureFiles('de');
        DateRangeObject.locale = 'de';
    });

    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json'];
        if (name === 'ar') {
            files.push('numberingSystems.json');
        }
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            if (name === 'ar' && prop === files.length - 1) {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '../../../Scripts/cldr-data/supplemental/' + files[prop], 'GET', false);
            }
            else {
                ajax = new ej.base.Ajax(location.origin + location.pathname + '../../../Scripts/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            }
            ajax.onSuccess = function (value) {
                val = value;
            };
            ajax.send();
            loader(JSON.parse(val));
        };
        for (var prop = 0; prop < files.length; prop++) {
            loadCulture(prop);
        }
    }
</script>

<style>
    .align {
        margin: 0 auto;
        width: 300px;
    }
</style>