@using Syncfusion.EJ2
@model EJ2MvcEditors.Controllers.DateRangePicker.DateRangeModelBinding
<h3> Model bind from code behind Sample: </h3>
<h5>This sample demonstrates the model bind from code behind using ViewBag and ViewDate of DateRangePicker component</h5>
<br />
<div class="col-lg-12 control-section">
    <div id="wrapper">
        <div>
            <h5>Model binding using ViewBag</h5>
            @Html.EJS().DateRangePicker("dateRangePicker").Placeholder("Select a date range").Value(ViewBag.value).Render()
        </div>
        <div style="padding-top:10px;">
            <h5>Model binding using ViewDate</h5>
            @Html.EJS().DateRangePicker("dateRangePick").Placeholder("Select a date range").Value(ViewData["value"]).Render()
        </div>
    </div>
</div>

<style>
    #wrapper {
        max-width: 246px;
        margin: 0px auto;
    }

    #submitbutton {
        margin-top: 20px;
        margin-left: 65px;
    }

    #control-content #wrapper .field-validation-error {
        color: red;
    }
</style>
